# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
*.log
*.json
Catch it!/Library/ArtifactDB
Catch it!/Library/ShaderCache/EditorEncounteredVariants
Catch it!/Library/SourceAssetDB
*.log
*.unity
Catch it!/Library/Artifacts/70/70c5805434e69c82d22c165810dceb68
Catch it!/Library/Artifacts/99/99e066d73003fb4289038ae59fa5ae78
Catch it!/Library/Artifacts/4c/4cab1f745c0e7b419faf110c4c20eedf
Catch it!/Library/ArtifactDB
*.meta
Catch it!/Library/SourceAssetDB
*.json
*.json
Catch it!/Library/Artifacts/f7/f74b53e768609bcfbee48f550c6dcba3
Catch it!/Library/Artifacts/c5/c5e2054a9bf23db784ddc505aa7da64b
Catch it!/Library/Artifacts/d5/d546f9869ed5340252162cc9fea67ce8
Catch it!/Library/Artifacts/a1/a1fe7e3dd48d035d5c860de8be7d7594
Catch it!/.vs/Catch it!/v16/.suo
*.csproj
*.unity
*.cs
*.json
*.json
